{% extends "base.html" %}
{% load static %}

{% block title %}- Home{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'info/css/index.css' %}" />
<style>
    .main {
        background: url("{% static 'info/images/index.jpeg' %}") no-repeat center center fixed;
        background-size: cover;
    }
</style>
{% endblock %}

{% block content %}
    <noscript>You need to enable JavaScript to run this app.</noscript>

    <div class="main">
        <img src="{% static 'info/images/logo.png' %}" alt="logo" width="250" height="250" />
        <div>Learn math with LegendIBR</div>
        <p>We provide you with the best and perfect resources made for SAS students.</p>
        <button onclick="window.location.href='{% url 'education:math' %}'">Get started <i class="fa-solid fa-arrow-right"></i></button>
    </div>
{% endblock %}