{% extends 'base.html' %}
{% load static %}

{% block title %}- Login{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'user_management/css/login.css' %}">
<style>
    body {
        background: url("{% static 'user_management/images/login.jpg' %}");
    }
</style>
{% endblock %}

{% block content %}
<div class="center">

{% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
{% endif %}

<!-- Location of redirect -->
{% if next %}
    {% if user.is_authenticated %}
        <p>You are already logged in.</p>
    {% else %}
        <form method="post" action="{% url 'user_management:login' %}">
            <div class="form-head">
                <img src="{% static 'user_management/images/logo.png' %}" width="100" height="100">
                <h1>Login</h1>
            </div>
            {% csrf_token %}
            {{ form.as_p }}
            <p class="register-hint">Don't have an account yet? <a href="{% url 'user_management:register' %}">Register!</a></p>
            <input type="submit" value="Login">
            <input type="hidden" name="next" value="{{ next }}">
        </form>
    {% endif %}
{% else %}
    <p>Need redirect location (next)</p>
{% endif %}

</div>
{% endblock %}