/* I moved the CSS here */
.main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    height: 100%;
    width: 100%;
}

.main>div {
    font-weight: bold;
    font-size: 54px;
}

.main>p {
    font-size: 24px;
    width: 50%;
    line-height: 1.5;
}

.main>button {
    margin-top: 20px;
    padding: 20px 35px;
    font-size: 24px;
    background-color: orangered;
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.2);
    color: white;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
        background-color: #ff6b00;
    }
}