.sidebar {
    flex: 1;
    width: 100%;
    background-color: lightgrey;
}

.sidebar>.sidebar-title {
    font-size: 28px;
    margin: 10px;
}

.sidebar>.sidebar-content {
    list-style-type: none;
    width: 100%;
    padding-left: 0;
}

.sidebar>.sidebar-content>li {
    padding: 10px;
    border-bottom: 1px solid black;
    cursor: pointer;

    &:hover {
        background-color: lightblue;
    }
}

.sidebar>.sidebar-content>li:last-child {
    border-bottom: none;
}

.sidebar>.sidebar-content>li:first-child {
    margin-top: 0;
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.content-container>.content {
    text-align: left;
    margin: 0;
    padding: 10px 20px;
    flex: 1;
}

.content-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.content-footer button {
    padding: 10px 15px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: rgb(80, 194, 232);
    font-size: 16px;
    color: white;
    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }
    &:disabled {
        background-color: lightgrey;
        cursor: not-allowed;
    }
    &:disabled:hover {
        opacity: 1;
    }
    &:not(:disabled):hover {
        opacity: 0.8;
    }
}

.learn-content-wrapper {
    display: flex;
    flex-direction: row;
}