{% extends "base.html" %}
{% load static %}
{% load comments %}

{% block title %}
{{ data.title }}
{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'education/css/base-content.css' %}">
<script src="{% static 'education/js/learn.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="learn-content-wrapper">
        <div class="sidebar-wrapper">
            <i id="sidebar-toggle" onclick="toggleSidebar();" class="fa-solid fa-folder"></i>
            <div class="sidebar">
                <h1 class="sidebar-title">{% block subject_title %}{% endblock %}</h1>
                <hr>
                <ul class="sidebar-content">
                    {% for lesson in data.all_lessons %}
                        <li>
                            <a href="{{ lesson.1 }}">Lesson {{ lesson.0 }}</a>
                        </li>
                    {% endfor %%}
                </ul>
            </div>
        </div>

        <div class="content-container">
            <div class="subject-heading">
                {% block subject_heading %}{% endblock subject_heading %}
            </div>
            <div class="content">
                {% block education_content %}{% endblock education_content %}
            </div>
            <div class="content-footer">
                <button disabled>Previous</button>
                <button>Next</button>
            </div>
            {% load-comments %}
        </div>
    </div>
{% endblock %}