{% extends "base.html" %}
{% load static %}
{% load comments %}

{% block title %}
    {{ title }}
{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'education/css/base-content.css' %}">
<script src="{% static 'education/js/learn.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="learn-content-wrapper">
        <div class="sidebar-wrapper">
            <i id="sidebar-toggle" onclick="toggleSidebar();" class="fa-solid fa-folder"></i>
            <div class="sidebar">
                <h1 class="sidebar-title">{% block subject_title %}{% endblock %}</h1>
                <hr>
                <ul class="sidebar-content">
                    {% for lesson in all_lessons %}
                        <li {% if lesson.0 == curr_lesson_id %} class="active" {% endif %}>
                            <a href="{{ lesson.1 }}">Lesson {{ lesson.0 }}</a>
                        </li>
                    {% endfor %%}
                </ul>
            </div>
        </div>

        <div class="content-container">
            <div class="subject-heading">
                {% block subject_heading %}{% endblock subject_heading %}
            </div>
            <div class="content">
                {% block education_content %}{% endblock education_content %}
            </div>
            <div class="content-footer">
                <!-- Use visiblity hidden when no url, so the flexbox styling isn't messed up-->
                <button
                    {% if prev_lesson %}
                        onclick="window.location.href='{{ prev_lesson }}'"
                    {% else %}
                        style="visibility: hidden;"
                    {% endif %}
                >
                    Previous
                </button>
                <button
                    {% if next_lesson %}
                        onclick="window.location.href='{{ next_lesson }}'"
                    {% else %}
                        style="visibility: hidden;"
                    {% endif %}
                >
                    Next
                </button>
            </div>
            {#% load-comments %#}
        </div>
    </div>
{% endblock %}