{% extends "base.html" %}
{% load static %}

{% block title %}
{{ subjects.title }}
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'education/css/education.css' %}" />
{% endblock %}

{% block content %}
    <h1>{% block content_title %}{% endblock %}</h1>

    {% block subject %}
        {% for subject in subjects.subjects %}
            <div class="subject">
                <div class="background" style="background-image: url('{% static subject.image_url %}');"></div>
                <span>{{ subject.title }}</span>
                <p>{{ subject.intro }}</p>
                <div class="action" onclick="this.querySelector('a').click();">
                    <a href="{{ subject.learn_url }}">Start learning</a>
                    <i class="fa-solid fa-arrow-right"></i>
                </div>
                <div class="action" onclick="this.querySelector('a').click();">
                    <a href="{{ subject.practice_url }}">Test your knowledge</a>
                    <i class="fa-solid fa-arrow-right"></i>
                </div>
            </div>
        {% endfor %}
    {% endblock %}

{% endblock %}