* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, sans-serif;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    background-color: lightyellow;

    /*  Use flexbox to keep footer at the bottom of the page, 
        even if the page is short.
        https://stackoverflow.com/a/12253099/21322342
    */
    display: flex;
    flex-direction: column;
}

/* block content */
#main {
    flex: 1;
    margin: 10px;
    padding: 10px;
}

/* header navbar */
.main-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    background: #333;
    padding: 15px 20px 15px 20px;
    color: white;

    /* height: 100%; /* x% of what, idk */
    /* 100% when the menu bar is full (sizing needs to be the same on mobile) */
    height: 78px;
}

.main-navbar a {
    color: white;
    text-decoration: none;
}

#mobile-navbar-burger {
    display: none;
}

#mobile-navbar-popup {
    display: none;

    position: absolute;
    background: #333;
    z-index: 1;
}

#mobile-navbar-popup>ul {
    list-style: none;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* Navbar links */
/* The initial one was for subject introduction, not for navbar link */
/* Changed to navbar links style */
.links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.links>a,
#mobile-navbar-popup>ul>li>a {
    color: white;
    font-size: 20px;
    text-align: center;
    width: 100%;

    /* Added hover */
    &:hover, &:active {
        text-decoration: underline;
    }
}

@media screen and (max-width: 1024px) {
    #mobile-navbar-burger {
        display: block;
    }

    .hide-mobile {
        display: none !important;
    }
}

.title {
    /* Center title */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 300;
    font-size: 38px;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 0.5rem;
    width: 100%;
}


/* Aggresive, mainly used for user_management urls */
/*
.center {
    width: 80%;
    margin: auto;
    text-align: center;
}
*/