* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, sans-serif; 
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    /* font-family: Arial, sans-serif; */
    background-color: lightyellow;
}

header nav {
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    background: #333;
    padding: 10px 15px;
}

header nav a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    text-align: center;

    &:hover,
    &:active {
        text-decoration: underline;
    }
}

header nav .title {
    text-align: left;
    font-weight: bold;
    font-family: serif;
    font-size: 40px;
    flex: 1;

    &:hover,
    &:active {
        text-decoration: none;
    }
}

header ul {
    position: absolute;
    margin: 0;
    background: #1a1a1a;
    color: white;
    padding: 5px 20px;
    font-size: 20px;
    line-height: 32px;
    width: 150px;
    right: 0;
    visibility: hidden;
    transition: all 0.3s;
}

header ul li a {
    color: white;
    font-family: serif;

    &:hover,
    &:active {
        background-color: grey;
    }
}

header nav i {
    display: none !important;
    font-size: 20px;
    color: white;
    cursor: pointer;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    width: 100%;
}

@keyframes fadeIn {
    from {
        visibility: hidden;
        opacity: 0;
    }
    to {
        visibility: visible;
        opacity: 1;
    }
}

@media only screen and (max-width: 768px) {
    header nav i {
        display: block !important;
    }

    header nav a:not(.title) {
        display: none;
    }
}
