* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, sans-serif;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    background-color: lightyellow;

    /*  Use flexbox to keep footer at the bottom of the page, 
        even if the page is short.
        https://stackoverflow.com/a/12253099/21322342
    */
    display: flex;
    flex-direction: column;
}
/* block content */
#main {
    flex: 1;
    margin: 10px;
    padding: 10px;
}

/* header navbar */
.main-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    background: #333;
    padding: 15px 20px 15px 20px;
    color: white;

    /* height: 100%; /* x% of what, idk */
    /* 100% when the menu bar is full (sizing needs to be the same on mobile) */
    height: 78px;
}
.main-navbar a {
    color: white;
    text-decoration: none;
<<<<<<< HEAD
    font-size: 20px;
    cursor: pointer;
    text-align: center;

    &:hover,
    &:active {
        text-decoration: underline;
    }
}

header nav .title {
    text-align: left;
    font-weight: bold;
    font-family: serif;
    font-size: 40px;
    flex: 1;

    &:hover,
    &:active {
        text-decoration: none;
    }
}

header ul {
    position: absolute;
    margin: 0;
    background: #1a1a1a;
    color: white;
    padding: 5px 20px;
    font-size: 20px;
    line-height: 32px;
    width: 150px;
    right: 0;
    visibility: hidden;
    transition: all 0.3s;
}

header ul li a {
    color: white;
    font-family: serif;

    &:hover,
    &:active {
        background-color: grey;
    }
}

header nav i {
    display: none !important;
    font-size: 20px;
    color: white;
    cursor: pointer;
}

div.about {
    position: relative;
    background: rgba(255, 255, 255, 0.25);
    border: 3px solid black;
    text-align: center;
    margin-top: -20px;
    padding: 20px;
    width: 75%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

div.subject {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
=======
}

#mobile-navbar-burger {
    display: none;
}
#mobile-navbar-popup {
    display: none;

    position: absolute;
    background: #333;
    z-index: 1;
}

#mobile-navbar-popup > ul {
    list-style: none;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* Navbar links */
.links {
>>>>>>> b1a2d11c73d9382243f79a00ac1911924f55459a
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 20px 0;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.3s;

    &:hover,
    &:active {
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    }
}

<<<<<<< HEAD
div.subject .subject-title {
    position: relative;
    height: 100%;
    width: 40%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

div.subject .subject-title button {
    background: black;
    color: white;
    padding: 10px 15px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    transition: opacity 0.3s ease;

    &:hover,
    &:active {
        opacity: 0.8;
    }
=======
.links > a, #mobile-navbar-popup > ul > li > a {
    color: white;
    font-size: 20px;
    text-align: center;
}

@media screen and (max-width: 1024px) {
    #mobile-navbar-burger {
        display: block;
    }
    .hide-mobile {
        display: none !important;
    }
}

.title {
    /* Center title */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 300;
    font-size: 38px;

>>>>>>> b1a2d11c73d9382243f79a00ac1911924f55459a
}

div.subject .subject-info {
    position: relative;
    height: 100%;
    width: 60%;
    padding: 10px;
}

div.subject .subject-info .background-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(1px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

div.subject .subject-info .text-background {
    background: rgba(255, 255, 255, 0.75);
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 15px);
    height: calc(100% - 15px);
    filter: blur(1px);
    z-index: -1;
}

footer {
    background: #333;
    color: white;
    text-align: center;
<<<<<<< HEAD
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    width: 100%;
}

@keyframes fadeIn {
    from {
        visibility: hidden;
        opacity: 0;
    }

    to {
        visibility: visible;
        opacity: 1;
    }
}

@media only screen and (max-width: 768px) {
    header nav i {
        display: block !important;
    }

    header nav a:not(.title) {
        display: none;
    }

    div.subject {
        flex-direction: column;
        width: 100%;
        margin: 25px 0;
    }

    div.subject .subject-info {
        width: 100%;
    }

    div.subject .subject-title button {
        display: none;
    }
}
=======
    padding: 0.5rem;
    width: 100%;
}


/* Aggresive, mainly used for user_management urls */
/*
.center {
    width: 80%;
    margin: auto;
    text-align: center;
}
*/

/* Commenting this because I don't see it being used anywhere*/
/*
ul.link-set {
    visibility: hidden;
    position: fixed;
    right: -50%;
    background: lightgrey;
    color: white;
    padding: 15px 30px;
    line-height: 48px;
    font-size: 24px;
    z-index: 10;
    transition: all 0.3s ease;
}

div.menu {
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}
*/
>>>>>>> b1a2d11c73d9382243f79a00ac1911924f55459a
