<!-- The base file that has generic stuff -->
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        LegendIBR - {% block title %}
        {% endblock %}
    </title>

    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" />

    <script src="https://kit.fontawesome.com/08eed679a2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'base.css' %}" />
    <script src="{% static 'base.js' %}"></script>
    {% block head %}
    {% endblock %}
</head>

<body>
    <header>
        {% if user.is_authenticated %}
        <form id="logout" hidden action="{% url 'user_management:logout' %}" method="POST">
            {% csrf_token %}
        </form>
        {% endif %}
        <nav class="main-navbar">
            <div class="links hide-mobile">
                {% if user.is_authenticated %}
                <a href="#" onclick="document.querySelector('#logout').submit();">Logout</a>

                <!-- TODO: account settings popout -->
                <!--<a onclick="">Account Settings</a>-->
                {% else %}
                <!--  gonna get annoying redirecting back to home, but you need a redirect (https://robinlinus.github.io/socialmedia-leak/), because i don't know how to redirect to the previous page 
                            TODO: IDK if the redirect protection thing works 
                         -->
                <a href="{% url 'user_management:login' %}?next={{ request.get_full_path }}">Login</a>
                <a href="{% url 'user_management:register' %}">Register</a>
                {% endif %}
            </div>
            <a class="title" href="/">LegendIBR</a>
            <button onclick="window.location.href='{% url 'education:math' %}'" class="hide-mobile">Start exploring <i class="fa-solid fa-arrow-right"></i></button>

            {% comment %} Temporarily comment his since there is only 1 subject {% endcomment %}
            {% comment %} <i id="mobile-navbar-burger" class="fa-solid fa-list"></i> {% endcomment %}
        </nav>
        <div id="mobile-navbar-popup">
            <ul></ul>
        </div>

        {% block header %}
        {% endblock %}
    </header>
    <div id="main">
        {% block content %}
        {% endblock %}

        <!-- I used this for testing the footer positioning -->
        {# {% lorem 10 p %} #}
    </div>
    <footer>
        <p>&copy; 2025 LegendIBR</p>
    </footer>
</body>

</html>