.comment-container {
    width: 100%;
}
.comment {
    display: block;
    margin: auto;
    padding: 5px;
    width: 100%;
}

.comment>.username {
    font-weight: bold;
}

.content, .author {
    font-size: 18px;
}

.comment>.reply {
    display: block;
    border: none;
    font-size: 16px;
    background: none;
    color: grey;
    margin: 10px 0 15px 0;
    cursor: pointer;

    &:hover, &:focus {
        text-decoration: underline;
    }
}
.comment > .divider {
    display: flex;
    align-items: center;
    justify-content: center;
}
.comment > .divider > hr {
    width: 100%;
    height: 2px;
    background: black;
    border: 0;
}