{% extends "base.html" %}
{% load static %}
{% load comments %}

{% block title %}Comment UI{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'social/css/comment_ui.css' %}" />
<script src="{% static 'social/js/comment_ui.js' %}"></script>
{% endblock %}

{% block content %}
{% block comment %}
<div class="comment">
    <div class="author">{{ comment.author }}</div>
    <div class="content">{{ comment.content }}</div>
    <a class="reply">Reply</a>
    <div class="replies"></div>
    <hr>
</div>
{% endblock %}
{% endblock %}