{% extends "base.html" %}
{% load static %}
{% load comments %}

{% block title %}
- Comment
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'social/css/test_comments.css' %}" />
{% endblock %}

{% block content %}
<!-- TODO: Should .center have flex-direction column, or just here -->
<div class="center" style="flex-direction: column;">
    <p>Comment</p>
    {% create-comment-form %}
    <p>Comment, replying to id=1234</p>
    {% create-comment-form '1234' %}
</div>
{% endblock %}